@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Yantramanav:wght@100;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    font-family: Yantramanav, sans-serif;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    background-color: black;
}
.nav-ctn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list{
    width: 80vw;
    display: flex;
    justify-content: start;

}
.nav-links{
    color: white;
    font-size: 1.5rem;
    margin-left: 2em;
    font-weight: bold;
    position: relative;
}
.nav-links:hover{
    color: rgb(255, 211, 89);
}

.material-symbols-outlined{
    color: white;
    transform: scale(1.2);
    padding-right: 1.7em;
    cursor: pointer;
}
.material-symbols-outlined:hover{
    color: rgb(255, 211, 89);
}

.logo-ctn { 
    height: 100%; 
    width: auto;
}

.logo{
    height: 100%;
}

.signUp-link{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #c2bf15;

}
/* NAVBAR ENDS */
/* ------------------------------------------------------- */
/* HOME SECTION START */
/* ------------------------------------------------------- */
/* BANNER*/
#main{
    background-color: rgb(185, 185, 185);
    height: calc(100vh - 80px);
}

.home-ctn{
    display: grid;
    grid-template-columns: 1fr 25vw;
}

.banner{
    background-image: url(./assets/image/design1_image1.jpg), linear-gradient(0deg, rgba(0,0,0,0.8435749299719888) 0%, rgba(255,255,255,0.30015756302521013) 34%, rgba(255,255,255,0) 100%);
    height: auto;
    width: 60vw;
    background-position: center;
    background-position-y: 80%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-blend-mode: color;
}

.banner-title{
    color: white;
    font-size: 2.5rem;
    padding-bottom: 20px;
}
.banner-title:hover{
    color: rgb(255, 211, 89);
}
/* BANNER ENDS *
/* EVENTS CARDS */
.events{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
}

.cards{
    height: 120px;
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 10px 0;
    padding-left: 5px;
    border-left: 1px solid black;
}

.img-card-ctn{
    overflow: hidden;
}

.events-title{
    padding-top: 5px;
    border-bottom: 0;
}

.img-card{
    height: 100%;
    position: relative;
    right: 50%;
}

.ctn{
    margin-left: 10px;
}
/* EVENT CARDS END */
/* ------------------------------------------------------- */
/* HOME SECTION END */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ABOUT SECTION START */
/* ------------------------------------------------------- */
.about-title{
    background-image: url(../assets/image/design1_image1.jpg);
    padding: 2rem;
    color: #f7f7f7;
    font-size: 2.8rem;
} 

.event-ctn {
    max-width: 80vw;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}
    
.event-itemGI {
    grid-area: 1 / 1 / 2 / 3;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    padding: 10px;
}
.event-itemMIS {
    grid-area: 2 / 1 / 3 / 2;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    padding: 10px;
}
.event-itemVIS {
    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
    padding: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.event-item-title{
    font-size: 1.8em;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.event-item-p{
    margin: 0 10px;
}
/* ------------------------------------------------------- */
/* ABOUT SECTION ENDS */
/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
/* CONTACT SECTION start */
/* ------------------------------------------------------- */
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left-cbox{
	background: url(../assets/image/design1_image2.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
}

.right-cbox{
	padding: 25px 40px;
}

.form-title{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.form-textarea{
 	min-height: 100px;
}

.form-btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #c2bf15;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.form-p{
    padding-top: 5px;
}
/* ------------------------------------------------------- */
/* CONTACT SECTION ends */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* GAME-INFO SECTION starts */
/* ------------------------------------------------------- */
.schedule-ctn{
    width: 70%;
    margin: 20px auto 40px;
    padding: 50px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.gi-title{
    font-size: 3rem;
    margin-bottom: 30px;
}

.sch-title{
    margin-bottom: 10px;
}

.sch-subtitle{
    text-decoration: underline;
}

.table thead>tr>th{
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 2px solid black;
}

.table td{
    padding: 10px 0;
    font-size: 1.1em;
    border-bottom: 1px solid black;
}
.table{
    margin: 30px auto 15px;
    width: 90%;
}

.time{
    text-align: right;
}

.p2{
    margin: 10px 0 15px;
}

.p3{
    margin-bottom: 10px;
}

table>thead>tr>.th-maps{
    text-align: center;
}

.maps{
    border: 0;
    width: 250px;
    height: 100px;
}
/* ------------------------------------------------------- */
/* GAME-INFO SECTION ends */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* RULES SECTION starts */
/* ------------------------------------------------------- */
.rules-ctn{
    width: 70%;
    margin: 20px auto 40px;
    padding: 40px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.rules-title{
    font-size: 1.5rem;
}

.rules-section-title{
    margin: 20px 0;
}

.field-ptn{
    margin: 20px 0;
}

.lista-circle{
    margin-left: 3rem;
}

.letter-list{
    list-style: lower-latin;
}
/* ------------------------------------------------------- */
/* RULES SECTION ends */
/* ------------------------------------------------------- */
/* REGISTRATION stars */
.forms{
    margin: 5% 0;  
}

.container-form {
    max-width: min-content;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);  
    padding: 20px 20px 0;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.form-title {
    text-align: center;
    font-size: 1.8rem;
    margin: 15px 0;
}

.sct-title{
    font-size: 1.3rem;
    margin: 20px 0 10px;
}

.sct-subtitle{
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.permision-p{
    padding: 3px 0;
}

.input-box{
    margin: 10px 0;
}

.option{
    padding: 5px 0;
}

.form-btn{
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
}

.user-details{
    gap: 1rem;
    width: 50vw;
    margin: 20px 0;
}

.item3 {
    display: grid;
    grid-column: 1/3;
}
.input-width {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: 0;
    font-size: 15px;
}
.input-width:active {
    border-radius: none;
}
/* REGISTRATION ends */
/* FOOTER  */
.footer-distributed{
	background-color: #292c2f;
	width: 100%;
	text-align: left;
	padding: 10px;
    bottom: 0;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: .8em;
}

.footer-links{
	font-size:1.2em;
	font-weight: bold;
	color:  white;
	margin: 0 0 10px;
}

.footer-links{
	display:inline-block;
}

.footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.link-icons{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
    margin-right: 10px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 10px;
}

.social-icons{
    color: white;
}
/* FOOTER ENDS */
/* GENERAL CLASSES */
.border{
    border: 1px solid rgba(0, 0, 0, 0.301);
}

.center{
    text-align: center;
}

.sangria{
    text-indent: 20px;
}

.flex{
    display: flex;
	justify-content: center;
	align-items: center;
}

.bold{
    font-weight: bold;
}

.space-between{
    justify-content: space-between;
}
.grid-2c{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}